body {
    font-family: 'Prompt', serif;
}

#profileName {
    margin-left: 4px;
}

#profilePicture {
    border-radius: 50%;
}

.lotto-logo {
    color: #f1c40f;
    margin-left: 3px;
}

.uk-button-success {
    background-color: #2ecc71;
    color: #FFF;
}